@charset "UTF-8";
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center; }

.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.x-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.y-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.transition {
  transition: all 0.8s; }

.page-container {
  margin: 2rem auto 0; }

.container-fluid {
  padding: 0; }
  .container-fluid .row {
    margin-left: 0;
    margin-right: 0; }

#page-1, #page-2, #page-3, #page-4, #page-5 {
  color: #030303;
  font-size: 0.9rem;
  height: 100%;
  background-color: #f5f6eb;
  padding-top: 5rem; }

.title > h4 {
  font: 900 1.5rem "微软雅黑";
  margin-bottom: 0.25rem; }
.title > i {
  display: inline-block;
  width: 7.5rem;
  border-bottom: 2px solid #ff0000; }
.title > span {
  display: block;
  font-size: 0.8rem;
  font-weight: 900;
  line-height: 1.3rem;
  color: #f00; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background-color: transparent;
  border: none; }
  .navbar .navbar-header .navbar-brand {
    padding: 0.25rem; }
    .navbar .navbar-header .navbar-brand .myPic {
      float: left; }
      .navbar .navbar-header .navbar-brand .myPic img {
        width: 2rem;
        height: 2rem;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
        .navbar .navbar-header .navbar-brand .myPic img:hover {
          -webkit-animation: bounce 1s;
          -o-animation: bounce 1s;
          animation: bounce 1s; }
    .navbar .navbar-header .navbar-brand .myName {
      float: left;
      margin-left: 0.5rem;
      font-size: 0.8rem; }
      .navbar .navbar-header .navbar-brand .myName h1 {
        height: 2rem;
        line-height: 2rem; }
  .navbar .menu-nav {
    float: right; }
    .navbar .menu-nav .navbar-nav li a {
      display: block; }

#page-1 .page-2-resume > img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 2px solid #cccccc; }
#page-1 .page-2-resume > h4 {
  margin: 0 auto;
  padding: 1.5rem 0;
  font-size: 1.1rem;
  font-weight: 900;
  border-bottom: 2px solid #ccc;
  margin-bottom: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
      /*> span {

      }*/ }
#page-1 .page-2-resume > p {
  padding: 0.5rem 0;
  font-size: 0.8rem; }
#page-1 .page-2-resume #getIP {
  color: #C81623;
  font-size: 0.9rem; }

#page-2 .page-3-introduce > .info {
  display: none;
  margin-top: 1rem;
  padding: 1rem 1rem;
  background-color: #fafafa;
  border-radius: 30px; }
  #page-2 .page-3-introduce > .info > li {
    float: left;
    width: 25%;
    padding: 0 5%; }
    #page-2 .page-3-introduce > .info > li > div {
      width: 4rem;
      height: 4rem;
      margin: auto;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 2px solid #9297A1;
      padding-top: 0.4rem;
      margin-bottom: 0.5rem; }
      #page-2 .page-3-introduce > .info > li > div img {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%; }
    #page-2 .page-3-introduce > .info > li:nth-of-type(1) div:hover {
      -webkit-animation: bounce 1s;
      -o-animation: bounce 1s;
      animation: bounce 1s; }
    #page-2 .page-3-introduce > .info > li:nth-of-type(2) div:hover {
      -webkit-animation: wobble 1s;
      -o-animation: wobble 1s;
      animation: wobble 1s; }
    #page-2 .page-3-introduce > .info > li:nth-of-type(3) div:hover {
      -webkit-animation: rubberBand 1s;
      -o-animation: rubberBand 1s;
      animation: rubberBand 1s; }
    #page-2 .page-3-introduce > .info > li:nth-of-type(4) div:hover {
      -webkit-animation: tada 1s;
      -o-animation: tada 1s;
      animation: tada 1s; }
    #page-2 .page-3-introduce > .info > li > p:nth-of-type(1) {
      font-size: 0.9rem;
      text-align: left;
      position: relative; }
      #page-2 .page-3-introduce > .info > li > p:nth-of-type(1)::before {
        content: '';
        width: 90%;
        border-top: 2px solid #ccc;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%) rotate(-25deg); }
    #page-2 .page-3-introduce > .info > li > p:nth-of-type(2) {
      font-size: 0.6rem;
      text-align: right; }
#page-2 .page-3-introduce > .experience {
  overflow: hidden;
  width: 0;
  margin: 0 auto;
  margin-top: 1rem;
  font-size: 0.8rem;
  position: relative; }
  #page-2 .page-3-introduce > .experience::before, #page-2 .page-3-introduce > .experience::after {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    border: 2px solid #ff0000; }
  #page-2 .page-3-introduce > .experience::before {
    left: 0;
    top: 0;
    border-color: #f00 transparent transparent #f00; }
  #page-2 .page-3-introduce > .experience::after {
    right: 0;
    bottom: 0;
    border-color: transparent #f00 #f00 transparent; }
  #page-2 .page-3-introduce > .experience > p {
    opacity: 0;
    line-height: 2rem;
    margin: 0 0.5rem; }

#page-3 .page-4-skills > .skills-list {
  background-color: #fafafa;
  opacity: 0;
  padding-top: 0.5rem;
  margin-top: 1.5rem; }
  #page-3 .page-4-skills > .skills-list > li {
    float: left;
    width: 50%;
    padding: 0 0.25rem; }
    #page-3 .page-4-skills > .skills-list > li:hover .desc {
      -webkit-animation: tada 1s;
      -o-animation: tada 1s;
      animation: tada 1s; }
    #page-3 .page-4-skills > .skills-list > li strong {
      color: #ff0000; }
    #page-3 .page-4-skills > .skills-list > li > h6 {
      font-size: 1rem;
      line-height: 1.5rem; }
    #page-3 .page-4-skills > .skills-list > li > i {
      display: block;
      font-size: 1.2rem;
      transition: transform 0.5s; }
    #page-3 .page-4-skills > .skills-list > li > .desc {
      list-style: disc inside;
      text-align: left;
      padding: 0 0.5rem;
      margin-top: 1rem;
      border-radius: 10px; }
      #page-3 .page-4-skills > .skills-list > li > .desc > li {
        line-height: 1.3rem;
        font-size: 0.7rem; }

#page-4 #stage {
  margin: 1.5rem auto 2.5rem;
  height: 15rem;
  position: relative;
  overflow: hidden;
  padding-top: 0.25rem;
  opacity: 0; }
  #page-4 #stage::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, white, rgba(255, 255, 255, 0));
    z-index: 9; }
  #page-4 #stage > .list {
    position: relative;
    width: 15rem;
    left: 50%;
    transform: translateX(-50%);
    perspective: 50rem;
    transform-style: preserve-3d;
    perspective-origin: 50% 50%; }
    #page-4 #stage > .list > li {
      width: 100%;
      position: absolute;
      top: 0;
      transition: all 0.6s; }
      #page-4 #stage > .list > li:nth-of-type(1) {
        z-index: 1;
        transform: rotateY(15deg) translateZ(-5rem);
        left: -20rem; }
      #page-4 #stage > .list > li:nth-of-type(2) {
        z-index: 2;
        transform: rotateY(20deg) translateZ(-2.5rem);
        left: -10rem; }
      #page-4 #stage > .list > li:nth-of-type(3) {
        z-index: 3;
        transform: rotateY(0deg) translateZ(0px);
        left: 0; }
      #page-4 #stage > .list > li:nth-of-type(4) {
        z-index: 2;
        transform: rotateY(-20deg) translateZ(-2.5rem);
        left: 10rem; }
      #page-4 #stage > .list > li:nth-of-type(5) {
        z-index: 1;
        transform: rotateY(-15deg) translateZ(-5rem);
        left: 20rem; }
      #page-4 #stage > .list > li .img-container {
        padding: 0.25rem;
        background-color: #fff;
        box-shadow: 0 0.05rem 0.3rem 0.15rem #ccc;
        border-bottom: 1px solid #cccccc; }
      #page-4 #stage > .list > li img {
        width: 14.5rem; }
  #page-4 #stage .icon {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    margin-top: -1rem; }
  #page-4 #stage .icon-toPrev,
  #page-4 #stage .icon-toNext {
    cursor: pointer;
    z-index: 99;
    transform: rotate(45deg); }
  #page-4 #stage .icon-toPrev {
    left: 1.5rem;
    border-left: 2px solid #FFFBC4;
    border-bottom: 2px solid #FAD398; }
  #page-4 #stage .icon-toNext {
    right: 1.5rem;
    border-top: 2px solid #FFFBC4;
    border-right: 2px solid #FAD398; }
#page-4 .more {
  font-size: 0.8rem;
  line-height: 1.5rem; }
  #page-4 .more > p {
    opacity: 0; }

#page-5 .my-info {
  margin-top: 1rem; }
  #page-5 .my-info .my-photo {
    opacity: 0; }
    #page-5 .my-info .my-photo img {
      width: 9rem;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 0 1px 5px #ccc;
      -moz-box-shadow: 0 0 1px 5px #ccc;
      box-shadow: 0 0 1px 5px #ccc; }
  #page-5 .my-info .my-claim {
    margin-top: 1rem; }
    #page-5 .my-info .my-claim p {
      opacity: 0;
      font-size: 0.7rem;
      color: #495A80;
      line-height: 1.5rem; }
      #page-5 .my-info .my-claim p span {
        color: #C81623; }

@keyframes roll-in {
  from {
    transform: translate(-39.25rem) rotate(-900deg);
    opacity: 0; }
  to {
    transform: translate(0px) rotate(0deg);
    opacity: 1; } }
@keyframes l-to-r {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0%); } }
@keyframes r-to-l {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0%); } }
@keyframes t-to-b {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0%); } }
@keyframes b-to-t {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0%); } }
@keyframes circle {
  0% {
    transform: translateX(-50%) scale(0);
    opacity: 0; }
  100% {
    transform: translateX(-50%) scale(1.2);
    opacity: 0.8; } }
@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes enlarge {
  from {
    transform: scale(0.8);
    box-shadow: 0 0 0.15rem 0.25rem #b4ddff;
    background-color: #EEE8cc; }
  to {
    transform: scale(1);
    box-shadow: 0 0 0.25rem 0.15rem #b4dde0;
    background-color: #EEE8AB; } }
@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -1.5rem, 0); }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -0.75rem, 0); }
  90% {
    transform: translate3d(0, -0.2rem, 0); } }
@keyframes wobble {
  from {
    transform: none; }
  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg); }
  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg); }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg); }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg); }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg); }
  to {
    transform: none; } }
@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  to {
    transform: scale3d(1, 1, 1); } }
@keyframes tada {
  from {
    transform: scale3d(1, 1, 1); }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    transform: scale3d(1, 1, 1); } }
@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }
.bounceIn {
  animation: bounceIn 1s forwards; }

@media screen and (max-width: 1024px) {
  html {
    font-size: 18px; } }
@media screen and (max-width: 960px) {
  html {
    font-size: 18px; } }
@media screen and (max-width: 768px) {
  html {
    font-size: 17px; } }
@media screen and (max-width: 640px) {
  html {
    font-size: 16px; } }
@media screen and (max-width: 480px) {
  html {
    font-size: 15px; } }
@media screen and (max-width: 320px) {
  html {
    font-size: 14px; } }

/*# sourceMappingURL=index.css.map */
